//
// Views / Activity
// ================================================================================


// Sidebar Contents
// ========================================


.v_activity__side-block {

  &:not(:last-of-type) {
    margin-bottom: $space-200;

    @include breakpoint(lg) {
      margin-bottom: $space-300;
    }

    @include breakpoint(xl) {
      margin-bottom: $space-400;
    }
  }

  p {
    margin-bottom: $space-100;

    font-size: $fontSize-087;
    color: $color-grey-700;
  }


  // Exceptions

  &--details {

    .v_activity__side-contents {

      @include breakpoint(sm) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $space-200;
      }

      @include breakpoint(md) {
        display: block;
      }

    }

    a.v_activity__details-link {
      display: inline-flex;
      align-items: center;

      color: $color-grey-900;

      transition: color $trans-0200 $trans-easing;

      .v_activity__details-link-svg {
        margin-left: $space-025;
        width: $space-100;
        height: $space-100;

        line-height: 0;

        color: $color-grey-400;
        transition: color $trans-0200 $trans-easing;
      }

      &:hover {
        color: $color-blue;

        .v_activity__details-link-svg {
          color: $color-blue;
        }
      }
    }
  }

  &--printable {
    display: none;

    @include breakpoint(lg) {
      display: block;
      // width: $spacePercentual-80;
    }
  }

  .c_button {

    &:not(:last-of-type) {
      margin-bottom: $space-050;
    }
  }
}


.v_activity__side-title {
  margin-bottom: $space-150;

  font-family: $font-display;
  font-weight: 500;
  font-size: $fontSize-100;
  color: $color-grey-700;

  border-bottom: 1px solid $color-grey-300;
  padding: $space-025;
}


.v_activity__side-contents p a:link,
.v_activity__side-contents p a:visited {
  color: $color-blue;
}


.v_activity__details-group {
  margin-bottom: $space-100;

  @include breakpoint(xl) {
    margin-bottom: $space-150;
  }
}


.v_activity__details-group-title {
  margin-bottom: $space-025;
}


.v_activity__details-group-content {
  font-size: $fontSize-125;
  margin-left: $space-125;

  line-height: $lineHeight-120;
}


.v_activity__details-none {
  color: $color-grey-400;
}





// Activity Text
// ========================================


.v_activity__contents {
  margin-top: $space-400;
  margin-bottom: $space-500;

  @include breakpoint(lg) {
    margin-top: 0;
  }
}





// Copyright
// ========================================


.v_activity__cc {
  font-size: $fontSize-087;
  line-height: $lineHeight-150;
}


.v_activity__cc-icon {
  margin-bottom: $space-050;
}



.sidebar {
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  // background-color: #f4f4f4;
  padding: 15px;
  border-right: 1px solid #ccc;
  position: fixed;
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}

.sidebar ul {
  margin-top: 50px;
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 18px 0;
  font-weight: bold;
}

.sidebar ul li ul {
  margin-top: 0px;
  margin-left: 20px;
}

.sidebar ul li ul li {
  margin: 7px 10px 7px 0;
  padding: 7px 12px;
  border-radius: 10px;
  font-weight: normal;
  cursor: pointer;
}
.blue-background {
  background-color: #5591C7;;
  color: white;
  font-weight: bold;
}
.contents_toggle {
  cursor: pointer;
  font-weight: bold;
  display: inline-block; width: 100%;
}
.arrow {
  transition: transform 0.3s ease;
  float: right;
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  background-color: #f8f9fa; /* 你可以根据需要调整背景颜色 */
  z-index: 1000;
}

@media (max-width: 768px) {
  .sidebar-container {
      display: none;
  }
}

// .contents {
//   margin-left: 25%; /* 根据侧边栏的宽度调整 */
// }

@media (max-width: 768px) {
  .contents {
      margin-left: 0;
  }
}

.v_activity__details-link {
  display: inline-flex;
  align-items: center;
  color: $color-grey-900;

  transition: color $trans-0200 $trans-easing;

  .v_activity__details-link-svg {
    margin-left: $space-025;
    width: $space-100;
    height: $space-100;

    line-height: 0;

    color: $color-grey-400;
    transition: color $trans-0200 $trans-easing;
  }

  &:hover {
    color: $color-blue;

    .v_activity__details-link-svg {
      color: $color-blue;
    }
  }
}
