//
// Views / Home
// ================================================================================


// Subtitle
// ========================================


.v_home__subtitle .c_title-block {
  transform: 
    translateY( calc(-1 * #{ $space-200 } ) )
    rotate( -2deg )
  ;
}





// Activities
// ========================================


.v_home__filters-button {
  margin-bottom: $space-100;

  @include breakpoint(xl) {
    display: none;
  }
}


.v_home__activity-count {
  margin-bottom: $space-100;
  font-family: $font-display;
  color: $color-grey-700;
}


.v_home__activity-grid {
  margin-bottom: $space-200;
  display: grid;
  gap: $space-150;
  grid-template-columns: 1fr;

  @include breakpoint(md) {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint(lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  text-align: left;

  @media (max-width: 1000px) {
    flex-direction: column;
    padding: 30px 20px;
    text-align: center;
  }
}

.text-container {
  max-width: 60%;

  @media (max-width: 1000px) {
    max-width: 100%;
    margin-bottom: 30px;
  }
}

h1 {
  font-size: 4em;
  font-weight: bold;
  color: #000000;

  @media (max-width: 1000px) {
    font-size: 2.5em;
  }

  @media (max-width: 480px) {
    font-size: 2em;
  }
}

p {
  padding: 20px 0;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #555;

  @media (max-width: 1000px) {
    font-size: 1em;
    padding: 15px 0;
  }
}

.get-started {
  background-color: #5591C7;
  color: white;
  font-size: 1em;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 40px;
  transition: background-color 0.3s ease;
  display: inline-block;

  @media (max-width: 480px) {
    padding: 12px 24px;
    font-size: 0.9em;
  }
}

.get-started:hover {
  background-color: #3b6ed0;
}

.image-container {
  max-width: 45%;
  margin-top: 0;

  @media (max-width: 1000px) {
    max-width: 80%;
  }

  @media (max-width: 480px) {
    max-width: 100%;
  }
}

img {
  max-width: 100%;
  height: auto;
}